<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }



    </style>
    <th:block>
        <script th:inline="javascript">

function testCheck(id, name){
document.getElementById('countyOfficeId').value = id;
document.getElementById('countyOfficeName').value = name;
}
            window.onload = function(){
                document.getElementById("newwin").onclick = function(){
                    window.open("/countyOffice/list","","width=700px,height=500px,top=200px,left=200px;");
                }

            };


        </script>
    </th:block>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" th:action th:object="${admin}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{adminId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{adminId}"/>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{adminPassword}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{adminPassword}"/>
        </div>

        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{adminName}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{adminName}"/>
        </div>

        <div>
            <label for="name">전화번호</label>
            <input type="text" id="phoneNumber" th:field="*{adminPhoneNumber}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{adminPhoneNumber}"/>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <label for="name">소속 동사무소</label>
                <input type="text" id="countyOfficeName" class="form-control" disabled>
            </div>

            <div class="col" style="display: none; ">
                <label for="name">소속 동사무소</label>
                <input type="text" id="countyOfficeId" th:field="*{countyOfficeId}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{countyOfficeId}"/>
            </div>

            <div class="col-md-4">
                <button id="newwin" class="w-80 btn btn-success"
                        onclick="location.href='countyOfficeListForm.html'"
                        th:onclick="|window.open('/countyOffice/list', 'window_name', 'width=700, height=600, location=no, status=no, scrollbars=yes');|"
                        type="button">동사무소 찾기
                </button>
            </div>
        </div>


        <hr class="my-4">
        <div class="row">

            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>

        </div>
    </form>
</div> <!-- /container -->
</body>
</html>