<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siso.project.repository.DiningFriendsMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into dining_friends (mem_number, current_number, time, address, name, phone_number, memo, state, team_id,
        users_id)
        values (#{memNumber}, #{currentNumber}, #{time}, #{address}, #{name}, #{phoneNumber}, #{memo}, #{state}, #{teamId},
        #{usersId})
    </insert>

    <update id="update">
        update dining_friends
        <set>
            <if test="updateParam.memNumber != null">
                mem_number=#{updateParam.memNumber},
            </if>
            <if test="updateParam.currentNumber != null">
                current_number=#{updateParam.currentNumber},
            </if>
            <if test="updateParam.time != null">
                time=#{updateParam.time},
            </if>
            <if test="updateParam.address != null">
                address=#{updateParam.address},
            </if>
            <if test="updateParam.name != null">
                name=#{updateParam.name},
            </if>
            <if test="updateParam.phoneNumber != null">
                phone_number=#{updateParam.phoneNumber},
            </if>
            <if test="updateParam.memo != null">
                memo=#{updateParam.memo},
            </if>
            <if test="updateParam.state != null">
                state=#{updateParam.state},
            </if>
            <if test="updateParam.teamId != null">
                team_id=#{updateParam.teamId},
            </if>
            <if test="updateParam.usersId != null">
                users_id=#{updateParam.usersId},
            </if>
        </set>
        <where>
            Id = #{id}
        </where>
    </update>

    <update id="updateTeamId">
        update teams
        <set>
            team_id=#{teamId},
        </set>
        <where>
            Id = #{id}
        </where>
    </update>


    <delete id="delete">
        delete from dining_friends
        <where>
            id=#{id}
        </where>
    </delete>

    <select id="findById" resultType="DiningFriends">
        select id, mem_number, current_number, time, address, name, phone_number, memo, state, team_id, users_id
        from dining_friends
        <where>
            Id = #{id}
        </where>
    </select>


    <select id="select" resultType="DiningFriends">
        select id, mem_number, current_number, time, address, name, phone_number, memo, state, team_id, users_id
        from dining_friends
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number like concat('%', #{phoneNumber}, '%')
            </if>
            <if test="teamId != null and teamId != ''">
                and team_id = #{teamId}
            </if>
        </where>
    </select>

    <select id="selectDiningFriends" resultType="DiningFriends">
        SELECT dining_friends.Id, dining_friends.mem_number, dining_friends.current_number, dining_friends.time, dining_friends.address, dining_friends.name, dining_friends.phone_number, dining_friends.memo, dining_friends.state
        FROM dining_friends
        <where>
            <if test="teamId != null and teamId != ''">
                and dining_friends.team_id = #{teamId}
            </if>
            <if test="dateTime != null">
                and dining_friends.time >= #{dateTime}
            </if>
        </where>
    </select>

    <update id="currentNumberPlusUpdate">
        update dining_friends
        <set>
            current_number = current_number + 1
        </set>
        <where>
            Id = #{id}
        </where>
    </update>

    <update id="currentNumberMinusUpdate">
        update dining_friends
        <set>
            current_number = current_number - 1
        </set>
        <where>
            Id = #{id}
        </where>
    </update>

</mapper>