<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siso.project.repository.TeamsMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into teams (team_name, team_address, admin_id)
        values (#{teamName}, #{teamAddress}, #{adminId})
    </insert>

    <update id="update">
        update teams
        <set>
            <if test="updateParam.teamName != null">
                team_name=#{updateParam.teamName},
            </if>
            <if test="updateParam.teamAddress != null">
                team_address=#{updateParam.teamAddress},
            </if>
            <if test="updateParam.adminId != null">
                admin_id=#{updateParam.adminId},
            </if>
        </set>
        <where>
            Id = #{id}
        </where>

    </update>

    <delete id="delete">
        delete from teams
        <where>
            id=#{id}
        </where>
    </delete>

    <select id="findById" resultType="Teams">
        select id, team_name, team_address, admin_id
        from teams
        <where>
            Id = #{id}
        </where>
    </select>

    <select id="select" resultType="Teams">
        select id, team_name, team_address, admin_id
        from teams
        <where>
            <if test="teamName != null and teamName != ''">
                and team_name like concat('%', #{teamName}, '%')
            </if>
            <if test="teamAddress != null and teamAddress != ''">
                and team_address like concat ('%', #{teamAddress}, '%')
            </if>
        </where>
    </select>

</mapper>