<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siso.project.repository.VillageHallMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into village_hall (hall_name, lat, lon, address, admin_id)
        values (#{hallName}, #{lat}, #{lon}, #{address}, #{adminId})
    </insert>

    <select id="select" resultType="VillageHall">
        select *
        from village_hall
        <where>
            <if test="searchParam.id != null and searchParam.id != ''">
                and id = #{searchParam.id}
            </if>
            <if test="searchParam.hallName != null and searchParam.hallName != ''">
                and hall_name = #{searchParam.hallName}
            </if>
            <if test="searchParam.lat != null and searchParam.lat != ''">
                and lat = #{searchParam.lat}
            </if>
            <if test="searchParam.lon != null and searchParam.lon != ''">
                and lon = #{searchParam.lon}
            </if>
            <if test="searchParam.address != null and searchParam.address != ''">
                and address = #{searchParam.address}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
        </where>
    </select>

    <update id="update">
        update village_hall
        <set>
            <if test="updateParam.hallName != null">
                hall_name=#{updateParam.hallName},
            </if>
            <if test="updateParam.lat != null">
                lat=#{updateParam.lat},
            </if>
            <if test="updateParam.lon != null">
                lon=#{updateParam.lon},
            </if>
            <if test="updateParam.address != null">
                address=#{updateParam.address},
            </if>
            <if test="updateParam.adminId != null">
                and admin_id = #{updateParam.adminId}
            </if>
        </set>
        <where>
            Id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from village_hall
        <where>
            id=#{id}
        </where>
    </delete>

</mapper>