<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
                        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 900px">

    <hr class="my-4">
    <div class="py-5 text-center">
        <h2>출석 완료</h2>
    </div>

    <div th:text="${qrCheckedTime}"></div>

</div>
</body>
</html>