<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript">

        function addUser(userId, adminId){
            alert("추가하였습니다.");
            location.href = "/users/add/"+userId+"/"+adminId;
            setTimeout(function () {

            location.reload();
            }, 300);
            window.opener.reload();

        }


    </script>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>멤버 목록</h2>
    </div>

    <form th:object="${userList}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{userId}" class="form-control" placeholder="유저ID"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{userName}" class="form-control" placeholder="이름"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{address}" class="form-control" placeholder="주소"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
        </div>
    </form>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="selectUsers : ${selectUsers}">
                <td><a href="/users/list" th:onclick="addUser([[${selectUsers.id}]], [[${selectUsers.adminId}]])"
                       th:text="${selectUsers.userId}">유저ID</a>
                </td>
                <td><a th:text="${selectUsers.userName}">이름</a></td>
                <td><a th:text="${selectUsers.address}">주소</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>