<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
        .container {
            max-width: 560px;
        }
    </style>

  <th:block layout:fragment="script">
    <script th:inline="javascript">

            function deleteUserTeam() {
                const id = [[ ${userDetailInfo.id} ]];
                const userName = [[ ${userDetailInfo.userName} ]];
                if ( !confirm(userName + "을(를) 삭제할까요?") ) {
                    return false;
                }


                window.location.href = '/users/delete?id='+id;

                alert("삭제 되었습니다.")

                opener.parent.reload();

                window.close();
            }

            function parentReload(){
            opener.parent.reload();
            }

    </script>
  </th:block>

</head>
<body>

<div class="container">

  <div class="py-5 text-center">
    <h2>멤버 정보</h2>
  </div>

  <form action="users.html" th:action th:object="${userDetailInfo}" method="post">

    <div>
      <label for="id">유저 ID</label>
      <input type="text" id="id" class="form-control" th:field="*{userId}" disabled>
    </div>
    <div>
      <label for="userName">이름</label>
      <input type="text" id="userName" class="form-control" th:field="*{userName}" disabled>
    </div>
    <div>
      <label for="dateOfBirth">생년월일</label>
      <input type="text" id="dateOfBirth" class="form-control" th:field="*{dateOfBirth}" disabled>
    </div>
    <div>
      <label for="address">주소</label>
      <input type="text" id="address" class="form-control" th:field="*{address}" disabled>
    </div>
    <div>
      <label for="phoneNumber">핸드폰 번호</label>
      <input type="text" id="phoneNumber" class="form-control" th:field="*{phoneNumber}" disabled>
    </div>
    <div>
      <label for="alone">독거 여부</label>
      <input th:if="*{alone == true}" type="text" id="alone" class="form-control" value="o" disabled>
      <input th:if="*{alone == false}" type="text" id="alone1" class="form-control" value="x" disabled>
    </div>

    <hr class="my-4">

    <div>
      <label for="teamName">팀 이름</label>
      <input type="text" id="teamName" class="form-control" th:field="*{teamName}" disabled>
    </div>
    <div>
      <label for="teamAddress">마을 주소</label>
      <input type="text" id="teamAddress" class="form-control" th:field="*{teamAddress}" disabled>
    </div>

    <hr class="my-4">

    <div>
      <label for="userStateDate">최근 출석일</label>
      <input type="text" id="userStateDate" class="form-control" th:field="*{userStateDate}" disabled>
    </div>
    <div>
      <label for="locationAddress">최근 유저 위치</label>
      <input type="text" id="locationAddress" class="form-control" th:field="*{locationAddress}" disabled>
    </div>
    <div>
      <label for="locationTime">위치 등록 시간</label>
      <input type="text" id="locationTime" class="form-control" th:field="*{locationTime}" disabled>
    </div>

    <hr class="my-4">

    <div>
      <label for="villageHallName">마을 회관 이름</label>
      <input type="text" id="villageHallName" class="form-control" th:field="*{villageHallName}" disabled>
    </div>
    <div>
      <label for="villageHallAddress">마을 회관 주소</label>
      <input type="text" id="villageHallAddress" class="form-control" th:field="*{villageHallAddress}" disabled>
    </div>

    <hr class="my-4">

    <div class="row" style="padding:0px 0px 5px 0px">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="parentReload()">수정</button>
      </div>
    </div>
  </form>

    <div class="col">
      <button class="w-100 btn btn-danger btn-lg" onclick="deleteUserTeam()">삭제</button>
    </div>

  <button  style="visibility:hidden;" class="w-100 btn btn-danger btn-lg">x</button>

</div>

</body>
</html>