<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
    <th:block>
        <script th:inline="javascript">

        function userPopup(id, name){
            var popup = window.open("/users/"+id, "UserInfo", "width=700px,height=750px,top=200px,left=200px;");
        }

        function reload(){
            setTimeout(function () {

            location.reload();
            }, 300);
        }

        function setSelectUsers(id, name){
                document.getElementById('userId').value = id;
                document.getElementById('userName').value = name;
            }

        window.onload = function(){
                document.getElementById("newwin").onclick = function(){
                    window.open("/users/list","","width=700px,height=500px,top=200px,left=200px;");
                }
            };
        </script>
    </th:block>

</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div class="container" style="max-width: 900px">
    <div class="py-5 text-center">
        <h2>멤버 관리</h2>
    </div>

    <form th:object="${userSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{userName}" class="form-control" placeholder="이름"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="핸드폰 번호"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col">
                <div class="col">
                    <label for="newwin"></label>
                    <button id="newwin" class="btn btn-primary float-end" type="button">멤버 추가</button>
                </div>
            </div>
        </div>

    </form>

    <hr class="my-4">
    <div>
        <table id="table" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>주소</th>
                <th>핸드폰 번호</th>
                <th>독거 여부</th>
                <th>최근 출석 날짜</th>
                <th>출석</th>
                <th>소속</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td id="userId" th:text="${user.id}">id</td>
                <td><a href="" th:onclick="userPopup([[${user.id}]], [[${user.userName}]])" th:text="${user.userName}">이름</a></td>
                <td th:text="${user.dateOfBirth}">1999-09-29</td>
                <td th:text="${user.address}">지족북로33</td>
                <td th:text="${user.phoneNumber}">010-0000-0000</td>
                <td th:if="${user.alone == true}">o</td>
                <td th:if="${user.alone == false}">x</td>
                <td th:text="${user.date}">0000-00-00</td>
                <td th:if="${user.attendanceState == true}">o</td>
                <td th:if="${user.attendanceState == false}">x</td>
                <td th:text="${user.teamName}">소속</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
<div th:replace="fragments/footer :: footer" />
</body>
</html>