<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
                                .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div class="container">

    <div class="py-5 text-center">
        <h2>소속 등록 화면</h2>
    </div>

    <form action="teams.html" th:action th:object="${teams}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="teamName">소속</label>
            <input type="text" id="teamName" th:field="*{teamName}" class="form-control" placeholder="소속을 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{teamName}"/>
        </div>
        <div>
            <label for="teamAddress">소속 주소</label>
            <input type="text" id="teamAddress" th:field="*{teamAddress}" class="form-control" placeholder="소속 주소를 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{teamAddress}"/>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">소속 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='teams.html'"
                        th:onclick="|location.href='@{/teams}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer" />
</body>
</html>