<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>

    <script type="text/javascript">

        function popupClose(){
            setTimeout(function () {
                opener.location.reload();
                window.close();
            }, 10);
        }

    </script>

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>소속 수정</h2>
    </div>

    <form action="teams.html" th:action th:object="${team}" method="post">
        <div>
            <label for="id">소속 ID</label>
            <input type="text" id="id" class="form-control" th:field="*{id}" readonly>
        </div>
        <div>
            <label for="itemName">소속 이름</label>
            <input type="text" id="itemName" class="form-control" th:field="*{teamName}">
        </div>
        <div>
            <label for="price">소속 주소</label>
            <input type="text" id="price" class="form-control" th:field="*{teamAddress}">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="popupClose()">수정</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>