<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
                                .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

    <script type="text/javascript">

        function popupClose(){
                opener.parent.reload();


        }

    </script>

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>소속 수정</h2>
    </div>

    <form action="teams.html" th:action th:object="${teams}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="id">소속 ID</label>
            <input type="text" id="id" class="form-control" th:field="*{id}" readonly>
        </div>
        <div>
            <label for="teamName">소속 이름</label>
            <input type="text" id="teamName" class="form-control" th:field="*{teamName}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{teamName}"/>
        </div>
        <div>
            <label for="teamAddress">소속 주소</label>
            <input type="text" id="teamAddress" class="form-control" th:field="*{teamAddress}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{teamAddress}"/>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="popupClose()">수정</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>